body, div, form, hr, img {
    margin: 0; padding: 0; border: 0;
}

body, p, td, li, div {
    font-family: 'verdana', sans-serif;
    color: #333;
    font-size: 10pt;
}

body {
    text-align: center;
    background: #ddd;
    padding: 1em;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: #fff;
    font-stretch: semi-condensed;
    letter-spacing: 150%;
}

h1 {
    clear: both;
    line-height: 200px;
    font-size: 220%;
    font-weight: bold;
    padding: 0;
    margin: 0 0 0 0px;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h2 {
    padding: .15em 0;
    margin: 0;
    font-size: 130%;
}

table {
 border: 1px solid #aaa;
 border-spacing: 0;
 border-collapse: collapse;
}
th {
 font-size: 100%;
 font-weight: bold;
 border: 1px solid #aaa;
 background-color: #aaa;
 margin: 0; padding: .2em .5em;
 color: #000;
 text-align: left;
}
td {
 border: 1px solid #aaa;
 margin: 0; padding: .3em;
}
td.th {
 font-weight: bold;
 text-align: right;
}

.Cleaner {
 clear: both;
}

#All {
 background: #fff;
 width: 1000px;
 margin: 0px auto;
 text-align: left;
}

#Content {
 padding: 1em;
}

#Top {
 height: 200px;
 background: url('/bg/Microfon.jpg') no-repeat;
 background-color: #9e9e9e;
 padding: 0 0 0 180px;
}

#Copyright {
 background-color: #999;
 text-align: center;
 clear: both;
 font-size: 75%;
 color: #333;
 font-style: normal;
 margin: 1em 0 0 0;
 padding: .25em 0;
}

#Copyright a {
 color: #333;
}

.NoWrap {
    white-space: nowrap;
}

#Provider {
 text-align: center;
 clear: both;
 font-size: 75%;
 margin: 1em 0 0 0;
 padding: .25em 0;
}

#Provider a {
 color: #000;
}

