[% META title='Odvysílaná hlášení: '%]

<p>
<small>
Přehled odvysílaných hlášení v rámci místního informačního systému.

V přehledu je standardně zobrazeno 10 posledních hlášení.
Počet zobrazených hlášení na stránce lze zvolit v rozmezí: 10, 20 nebo 50.
Starší odvysílaná hlášení se zobrazují pomocí stránkování,
které je dostupné pod seznamem hlášení.
<!--V přehledu je standardně zobrazeno 10 posledních hlášení,
starší odvysílaná hlášení lze zobrazit rolováním v přehledové
tabulce resp. pomocí posuvníku na pravé straně přehledu.-->
U každého hlášení je uvedeno datum vysílání, jeho délka
a možnost spuštění hlášení. Hlášení lze spustit pomocí zeleného
tlačítka se šipkou, které se následně změní na tlačítko
pro zastavení přehrávání hlášení. Posun v přehrávání je možný
kliknutím na vybrané místo v šedém obdélníku vedle tlačítka
pro spuštění/zastavení přehrávání. Tento obdélník graficky
znázorňuje časový posun v přehrávání hlášení.
</small>
</p>

<table id="Records"></table>

[% IF is_admin OR c.user.id == source.id %]
<p>
<input id="Delete" type="submit" value="Smazat označené" class="ActionButton" />
[% INCLUDE 'records/delete.tt2' %]
</p>
[% END %]

<script>
$(document).ready(function() {

    var oList = $('#Records').dataTable({
[% IF mode == 'paging' %]
        "iDisplayLength": 10,
        "aLengthMenu": [[10, 20, 50], [10, 20, 50]],
[% END %]
        "bProcessing"    : false,
        "bFilter"        : false,
        "bSort"          : false,
        "bInfo"          : false,
        "bDeferRender"   : true,
        "bJQueryUI"      : true,
        "sPaginationType": "full_numbers",
        "bStateSave"     : true,

        "bServerSide": true,
        "sAjaxSource": '/records/json/?source_id=[% source.id %]',

[% IF mode == 'scrolling' %]
        "sScrollY": "310px",
        "sDom": "frtiS",
[% END %]

        "asStripeClasses" : [],

        "oLanguage": {
            "sUrl": "/dataTables/languages/cs.txt"
        },

        "aoColumns": [
[% IF is_admin OR c.user.id == source.id %]
            {
                 "mData"    : "id"
                ,"mRender"  : function ( data, type, full ) {
                    return '<span></span><input type="checkbox" value="' + full.id + '" name="id" />';
                }
                ,"sWidth"   : "1px"
                ,"bSortable": false
                ,"bSearchable" : false
                ,"sClass"   : "Center"
//                ,"sTitle"    : '<input type="checkbox" class="CheckAll"></input>'
                ,"sTitle"    : ''
            },
[% END %]
            {
                "sTitle"   : "Datum vysílání",
                "mData"    : "created",
                "sWidth"   : "20%",
                "sContentPadding": "00.00.0000 00:00",
            },
[% IF source.named_relations %]
            {
                 "sTitle"   : "Název relace"
                ,"mData"    : "name"
                ,"sWidth"   : "30%"
                ,"sType"   : "string"
[% IF is_admin OR c.user.id == source.id %]
                ,"mRender"  : function ( data, type, full ) {
                    return '<span class="AJAX" data-type="text" data-pk="' + full.id + '" data-name="name" data-emptytext="přidat">' + full.name + '</span>';
                }
[% END %]
            },
[% END %]
            {
                "sTitle"   : "Délka",
                "mData"    : "duration",
                "sWidth"   : "10%",
                "sClass"   : "Right",
                "mRender": function ( data, type, full ) {
                    return data + ' s';
                }
            },
            {
                "sTitle"   : "Přehrát",
                "mData"    : "id",
                "mRender": function ( data, type, full ) {
                    return  '<audio src="'+ full.url +'" controls style="width: 100%"></audio>';
                }
            },
        ]

        ,"fnDrawCallback": function( oSettings ) {
[% IF is_admin OR c.user.id == source.id %]
        [% INCLUDE 'records/checkboxes.js.tt2' %]
        $('.AJAX').editable(
            {
                url: '/records/save_field/'
                ,success: function(response, newValue) {
                    if(response.error) return response.error;
                }
            }
        );
[% END %]
        }

    });

[% IF is_admin OR c.user.id == source.id %]
[% INCLUDE 'records/checkboxes.js.tt2' %]
[% INCLUDE 'records/delete.js.tt2' %]
[% END %]

});
</script>
